@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  box-sizing: border-box;
  }
      
html { 
  font-size: 11px;
      }
      
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  background-color: #eeeeee;
  text-align: center;
  margin: 0;
     }
      
h1 {
  font-size: 3.75rem;
  line-height: 1.8;
  text-align: center;
   }
      
h2 {
  font-size: 2.50rem;
  }

h3 {
  font-size: 2rem;
}

.left-column {
  float: left;
  width: 25%;
}

.right-column {
  float: right:
  width: 75%;
}

/* nav ul */
.nav {
  
}

/* Image */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 3rem;
}

.article {
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
}

.post {
  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}