@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  box-sizing: border-box;
  }
      
html { 
  font-size: 11px;
      }
      
body {
  float: left;
  font-family: 'monospace', sans-serif;
  font-size: 1.5rem;
  background-image: url(https://media.discordapp.net/attachments/764532639138316291/764671286105473024/cranialprojectbackground.jpg?width=1404&height=936);
  color: #ffff;
  text-align: center;
  margin: 0;
     }
      
h1 {
  font-size: 2.5rem;
  line-height: 1.8;
   }

/* header */
header {
  font-family: 'monospace', sans-serif;
  display: relative;
  text-align: center;
}

.background-image {
  background-color: #000;
  width: 50%;
  height: 40%;
  top: 0;
  left: 0;
}

/* nav ul */
ul.nav-bar {
  /* Styling for the <ul class="nav-bar"> element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F44242;
  border-style: solid;
  border-color: #F44242;
}

/* TODO (optional): Change the font size*/

li.nav {
  /* Styling for the <li class="nav"> element */
  float: right;
  font-size: 15px;
}

/* TODO (optional): Change the font color, decoration, and/or case */

li.nav a {
  /* Styling for the <a> elements in <li class="nav"> */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* TODO (optional): Change the background color and/or font color when the mouse hovers over an item */

li.nav a:hover {
  /* Styling for the <a> elements when the mouse is hovering in <li class="nav"> */
  background-color: #FF436A;
  color: #43d6b9ff;
}

/* Image */
.image {
  display: block;
  background-color: black;
  width: 60%;
  height: 10%;
}

/* article */
.article {
  color: white;
  padding: 2rem;
  margin-top: 2rem;
}

.post {
  text-align: left;
  margin: 2rem;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}